<!DOCTYPE html>
<html>
<head>
  <title>Eventagon</title>
  <% Dir[Rails.root.join("app/assets/ejs/*.ejs")].each do |template| %>
    <script type="text/x-ejs" id="<%= File.basename(template, ".ejs").gsub(/[\s_]/, "-") %>-tmpl">
      <%= File.read(template).html_safe %>
    </script>
  <% end %>
  <script src="http://www.google.com/jsapi"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<header>
	<h1>Eventagon</h1>
	<ul name=header-links>
		<li><%= link_to 'Home', "/" %></li>
		<li><%= link_to 'My Events', "/events" %></li>
		<li><%= link_to 'Create Event', "http://calendar.google.com", :target => "_blank" %></li>
		<li><%= link_to 'Log In' %></li>
	</ul>
</header>
<body class="<%= params[:controller] %>">
  <div id="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
